[submodule ".vim-pathogen/bundle/fugitive"]
	path = .vim-pathogen/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim-pathogen/bundle/minibufexpl"]
	path = .vim-pathogen/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule ".vim-pathogen/bundle/supertab"]
	path = .vim-pathogen/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim-pathogen/bundle/pyflakes"]
	path = .vim-pathogen/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".vim-pathogen/bundle/tagbar"]
	path = .vim-pathogen/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim-pathogen/bundle/vim-align"]
	path = .vim-pathogen/bundle/vim-align
	url = git://github.com/tsaleh/vim-align
[submodule ".vim-pathogen/bundle/closetag"]
	path = .vim-pathogen/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule ".vim-pathogen/bundle/gundo"]
	path = .vim-pathogen/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim-pathogen/bundle/pathogen"]
	path = .vim-pathogen/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim-pathogen/bundle/pep8"]
	path = .vim-pathogen/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule ".vim-pathogen/bundle/command-t"]
	path = .vim-pathogen/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim-pathogen/bundle/vim-ruby"]
	path = .vim-pathogen/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim-pathogen/bundle/syntastic"]
	path = .vim-pathogen/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim-pathogen/bundle/vim-rails"]
	path = .vim-pathogen/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim-pathogen/bundle/vim-bundler"]
	path = .vim-pathogen/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim-pathogen/bundle/AnsiEsc"]
	path = .vim-pathogen/bundle/AnsiEsc
	url = git@github.com:vim-scripts/AnsiEsc.vim.git
[submodule ".vim-pathogen/bundle/vim-coffee-script"]
	path = .vim-pathogen/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "libs/bash/bash-git-prompt"]
	path = libs/bash/bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule ".vim-pathogen/bundle/VimClojure"]
	path = .vim-pathogen/bundle/VimClojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule ".vim-pathogen/bundle/vim-hive"]
	path = .vim-pathogen/bundle/vim-hive
	url = git@github.com:vickenty/vim-hive.git
